.navbar{
  background-color: blanchedalmond;
}


.btn.btn-primary:hover{
  color: white;
  transition: 0.2;
  background-color: blue;
  border-radius: 5px;
  border-color: blue;
}


.btn.btn-primary{
  color: blue;
  background-color: white;
  border-radius: 5px;
  border-color: blue;
  margin-top: 2rem;
  margin-left: 35rem;

}

.container{
  margin-top: 3rem;
  background-color: rgb(204, 187, 187);
  
}